<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<script type="text/template" id="person-id">
 <strong><%= name %>  <%= fam %></strong> <br> ( <%= fallowers %>)<br> ( <%= age %>) <br> <%= grop %> <br> - <%= job %>
 </script>
 <script type="text/template2" id="person2-id">
  <strong> <%= jo %> Я крутой  потому что мне <br> <%= age %> лет и зовут меня </strong><strong><%= name %>  <%= fam %></strong>
  </script>
  
  
	<script type="text/javascript" src="js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>